/* Reset ==================== */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  /* laikinai kol dirbam */
  padding-bottom: 1000px;
}

/* Common css ==================== */

.container {
  max-width: 800px;
  /* border: 1px dashed #000; */
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/* Helper css =================== */
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header =================== */

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* dazniau buvo naudojamas anksciau */
  /* position: fixed; */
  /* width: 100%; */
  background-color: white;
  position: sticky;
  top: 0;
  box-shadow: 0px 4px 11px 0px rgb(135 135 135);
}

.logo {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  padding: 0 20px;
}

.logo span {
  font-weight: normal;
}

.navLink {
  padding: 10px 20px;
  /* border: 1px solid #000; */
}

.mainHeader a {
  letter-spacing: 4px;
}

.mainHeader a:hover {
  background-color: rgb(189, 189, 189);
}

/* HERO =================== */

.hero {
  background-color: coral;
  min-height: 100vh;
  background: url('../img/architect.jpg') no-repeat center;
  background-size: cover;
}

.heroTitle {
  color: white;
  font-size: 40px;
}

.heroTitle span {
  font-weight: normal;
}

/* Projects =================== */

.projects {
  padding: 40px 30px;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  /* border: 1px dashed rgb(157, 5, 5); */
}

.project {
  position: relative;
  /* border: 1px dashed #000; */
  flex-basis: 19%;
  flex-grow: 1;
}

.prTitle {
  color: white;
  background-color: #000;
  padding: 5px 10px;
  font-weight: normal;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

/* Contact =================== */

.formContainer {
  background-color: #a2c0be;
  max-width: 400px;
  min-height: 500px;
  padding: 20px 30px;
}

.input {
  display: block;
  padding: 5px 7px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
}

.contactForm {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
